

button.accordion-control{
    border: none;
    background: gray;
    color: pink;
    width: 500px;
    text-align: left;
    font-size: 24px;

}
button:hover, button.accordion-panel.active{
  background-color: lightgray;
  outline: none;
  color: black;
  cursor: pointer;
}

.accordion-panel{
  background-color: white;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.2s ease-in-out;
}
